.app__specialMenu {
  flex-direction: column;
  /* background: var(--color-black); */
}

.app__specialMenu-title {
  margin-bottom: 2%;
  text-align: center;
}

.app__specialMenu-menu {
  /* width: 100%; */
  margin: -1% 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.app__specialMenu-menu01 {
  /* width: 100%; */
  margin: 2% 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.app__specialMenu-menu_heading {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 45px;
  line-height: 58.5px;
  letter-spacing: 0.04em;
  /* color: var(--color-white); */
}

.app__specialMenu_menu_heading01 {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 45px;
  line-height: 58.5px;
  letter-spacing: 0.04em;
  /* color: var(--color-white); */
}

.app__specialMenu_menu_heading02 {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 45px;
  line-height: 58.5px;
  letter-spacing: 0.04em;
  /* color: var(--color-white); */
}

.app__specialMenu_menu_heading03 {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 45px;
  line-height: 58.5px;
  letter-spacing: 0.04em;
  /* color: var(--color-white); */
}

.app__specialMenu-menu_paragraph {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 25px;
  line-height: 20.5px;
  letter-spacing: 0.04em;
  /* color: var(--color-white); */
}

.app__specialMenu-menu_wine,
.app__specialMenu-menu_cocktails {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__specialMenu-menu_img {
  width: 410px;
  margin: 0 2%;
}

.app__specialMenu-menu_img img {
  width: 100%;
  height: auto;
}

.app__specialMenu_menu_items {
  display: flex;
  flex-direction: column;

  margin: 2% 0;
  width: 100%;
}

.app__specialMenu-menu_devops,
.app__specialMenu-menu_game {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__specialMenu-menu_img {
  width: 410px;
  margin: 0 2%;
}

.app__specialMenu-menu_img img {
  width: 100%;
  height: auto;
}

.app__specialMenu_menu_items {
  display: flex;
  flex-direction: column;

  margin: 2% 0;
  /* width: 100%; */
}

@media screen and (min-width: 2000px) {
  .app__specialMenu-menu_img {
    width: 650px;
  }

  .app__specialMenu-menu_img img {
    height: 920px;
  }
}

@media screen and (max-width: 1150px) {
  .app__specialMenu-menu {
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
  }

  .app__specialMenu-menu_img {
    margin: 3% 0;
  }
}

@media screen and (max-width: 650px) {
  .app__specialMenu-menu_img {
    width: 100%;
  }

  .app__specialMenu-menu_heading {
    font-size: 35px;
    line-height: 48.5px;
  }
}

/*  */
.modalTitle {
  display: flex;
  border: 1px solid;
  width: 100%;
  justify-content: space-between;
}
.app__specialMenu_menu_items ul li {
  list-style: none;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-family: var(--font-base);
  color: rgb(159 139 65);
  font-weight: bold;
  margin: 26px 0px;
  padding: 3px 11px;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 3px #b3afaf;
  background: #f0f0f0;
}
.price {
  color: black;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
}
.des-paragraph {
  font-style: italic;
  color: gray;
}
