* {
  margin: 0;
  padding: 0;
}
.app__header {
  width: 100%;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: none;
  line-height: 50px;
  font-size: 52px;
  width: 86%;
  text-shadow: 0px 0px 14px #9e9e9e;
}

.app__header-img img {
  width: 100%;
}
.textSection {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgSection {
  display: flex;
  align-items: center;
  justify-content: end;
}
.headerbtn {
  width: 28%;
  margin-left: 3.2rem;
}

.custom__button01 {
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5% 1.5%;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 720px;
  left: 100px;
}
.mianrow {
  position: absolute !important;
}

@media screen and (min-width: 2000px) {
  .app__header-img img {
    min-width: 1000px;
    padding-right: 4%;
  }
  .app__header-img img {
    min-width: 400px;
    height: 550px;
  }
}
@media screen and (max-width: 768px) {
  .app__header-img img {
    padding: 4% 0 4% 2%;
  }

  .app__header-h1 {
    min-width: 100%;
    font-size: 29px;
    text-align: justify;
  }

  .app__header-img img {
    min-width: 240px;
    height: 320px;
  }
  .mianrow {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 1150px) {
  .app__header-img img {
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  .app__header-img img {
    padding: 4% 0 4% 4%;
  }
}
